img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
  body {
      background-color: black;
      color: #000000;
      font: normal 20pt Arial;
  }
  header{
      color: aliceblue;
      text-align: center;
  }
  section {
      background: white;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 363);
      border-radius: 10 px;
      width: 50%;
      padding: 15px;
      margin: auto;
  }
  div {
      text-align: center;
      padding: 8px;
  }
  footer {
      color: wheat;
      text-align: center;
      font-style: italic;
  }