*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1e2e1;
}

.cabecalho {
    padding: 10px 5px;
    background-color: burlywood;
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: white;
    padding: 30px;
    min-width: 320px;
    max-width: 900px;

    margin: 0 auto;
}

.image img {
    width: 100%;
}

.destrinchando ol li img{
    list-style: inside;
    float: left;
    width: 400px;
}
.destrinchando {
    background-color: lightgray;
}
.destrinchando img{
    margin: 8px;
}

@media (max-width: 576px) {
    .cabecalho {
        text-align: center;
    }
    .cabecalho nav {
        float: none
    }

    .cabecalho nav li {
        display: block;
    }
}