@media(max-width:1460px) {
    .container {
        max-width: 900px;
        margin: 30px 0;
        gap: 0;
    }

}
@media(max-width:350px) {
    .image-1, .image-2, .image-3, .image-4{
        width: 305px;
        height: 393px;
    }
}
