* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Public Sans' sans-serif;
}
h1 {
    font-size: 30px;
    font-weight: 700;
}
h3 {
    font-size: 17px;
    font-weight: 300;
}
main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container img {
    width: 100%;
}

.image-1, .image-2, .image-3, .image-4{
    width: 335px;
    height: 431px;
    position: relative;
}
.texto {
    position: absolute;
    color: white;
    bottom: 40px;
    left: 20px;
}



/* @media(max-width:770px){
    .container {
        margin-top: 45px;
    }
    .container > div {
        padding: 0;
    }
    .texto {
        padding-bottom: 22px;
        padding-left: 20px;
    }
} */